1. Write a Python program to sum all the items in a list.

In [ ]:
l = [1, 8, 10, 12, 15]
sum=0
for i in l:
  sum=sum+i
print("sum of list is:",sum)

sum of list is: 46

2. Write a Python program to get the largest number from a list.

In [ ]:
l=[2,18,45,58,76,38]
l.sort()
print("the largest number in the list is:",l[-1])

the largest number in the list is: 76

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
```

In [ ]:
l=['abc','xyz','aba','1221']
a=[]
for i in l:
  if len(i)>=2 and i[0]==i[-1]:
    a.append(i)
print(len(a))

2

4. Write a Python program to remove duplicates from a list.

In [ ]:
mylist=[2,5,8,9,10,2,5,8,]
newlist=[]
for i in mylist:
  if i not in newlist:
    newlist.append(i)
print(newlist)

[2, 5, 8, 9, 10]

5. Write a Python program to check if a list is empty or not.

In [ ]:
list=[5,8,22,69,7,88]
list.clear()
a=[]
if len(a)==0:
  print("the given list is empty")
else:
  print("the given list is not empty")

the given list is empty

6. Write a Python program to filter the list if the length of the character is < 4

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
```

In [ ]:
list=['abc','xyz','aba','1221']
newlist=[i for i in list if len(i)<4]
newlist

['abc', 'xyz', 'aba']

7.Write a Python program to find the second largest number in a list.

In [ ]:
l=[2,8,55,48]
l.sort(reverse=False)
print("the second largest number in the list:",l[-1])

the second largest number in the list: 55

8. Write a Python program to reverse a list at a specific location.

In [ ]:
loc=2
l=[1,5,2,8,6]
l1=l[:2]
l2=l[2:]
l2.reverse()
result=l1+l2
print(result)

[1, 5, 6, 8, 2]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
def palindrome(lst):
  if  lst==lst[::-1]:
    print("true")
  else:
    print("false")

lst=[1,2,3,2,1]
palindrome(lst)

true

10. Write a Python a program to find the union and intersection of two lists.

In [ ]:
list1=[5,2,10,25,15,32]
list2=[15,32,15,42]
union=[]
intersection=[]

for i in list1:
  if i not in union:
    union.append(i)
for j in list2:
   if j not in union:
    union.append(j)
  #intersection
for i in list1:
    if i in list2:
      intersection.append(i)
print("union list:",union)
print("intersection list:",intersection)

union list: [5, 2, 10, 25, 15, 32, 42]
intersection list: [15, 32]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
d={3:"e",2:"d",5:"f",8:"k"}
sorted(d.values())

['d', 'e', 'f', 'k']

12. Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
thisdict= {"color":"white","height": 165,"quantity":250}
if "height" in thisdict:
  print("key exist")
else:
 print("key doesnt exist")

key exist

13.Write a Python program to sum all the values in a dictionary.

In [ ]:
a={"apple":22,"orange":98,"mango":42,}
b=a.items()
value=[]
for k,v in b:
  value.append(v)
sum=0
for i in value:
    sum+=i
print(sum)

162

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

```
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
```

In [ ]:
def square_dictionary(a):
  d={}
  if a<10:
    for i in range(1,a+1):
      d[i]=i*i
    return d
  else:
    print("input number should be less than 10")
    return None
square_dictionary(6)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

15.Write a Python program to sort a given dictionary by key.

In [ ]:
d= {'a': 100, 'b': 200, 'c': 300}
sorted(d)

['a', 'b', 'c']

16.  Write a Python program to create a dictionary from a string.

```
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

```

In [ ]:
string="helloworld"
thisdict={}
for letter in string:
 thisdict[letter]=thisdict.get(letter,0)+1
print(thisdict)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

17. Write a Python program to get the top three items in a shop.

```
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:
item4 55
item1 45.5
item3 41.3
```

In [2]:
data={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
values=data.values()
values=list(values)
values.sort()
a=values[-3:]
a.reverse
for k,v in data.items():
  if v in a:
    print(k,v)

item1 45.5
item3 41.3
item4 55